{% extends "base.jinja2" %}

{% block content %}
    <h2>Save Email</h2>
    {{msg}}<br />
    <br />
    <form action="?" method="post">
        <label for="event_id">event_id</label>
        <select name="event_id">
            {% for event in events %}
                <option value="{{event.id}}">{{event.id}}: {{event.name}}</option>
            {% endfor %}
        </select>
        <label for="timestamp">timestamp</label>
        <input name="timestamp" type="text" value="{{timestamp}}"/>
        <label for="email_subject">email_subject</label>
        <input name="email_subject" type="text" value="{{email_subject}}"/>
        <label for="email_content">email_content</label>
        <textarea name="email_content" class="text" cols="120" rows ="20">{{email_subject}}</textarea>
        <input type="submit" name="form.submitted" value="Save"/>
    </form>
{% endblock %}
