{% extends "base.jinja2" %}

{% block content %}
    <h2>Save Email</h2>
    {{msg}}<br />
    <br />
    <form action="?" method="post">
        <label for="username">username</label>
        <input name="username" type="text"/>
        <label for="email_subject">email_subject</label>
        <input name="email_subject" type="text"/>
        <label for="event_id">event_id</label>
        <input name="event_id" type="text"/>
        <label for="email_content">email_content</label>
        <textarea name="email_content" class="text" cols="120" rows ="20"></textarea>
        <input type="submit" name="form.submitted" value="Save"/>

    </form>
{% endblock %}
